<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrape Reviews</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Get Reviews App</h1>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Get Reviews From Websites</h5>
        <p class="card-text">Simply enter the URL of the product page of the website, and get back all reviews for the product at a glance.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form class="form-inline m-2">
              <div class="form-group col-sm-9">
                <label for="urlId1" class="col-form-label col-sm-4">Enter TradeTiger Product URL</label>
                <input type="url" class="form-control col-sm-8" id="urlId1" name="urlName1" placeholder="https://..." required>
              </div>
              <button type="button" onclick="window.open(`/reviews/?url=${document.getElementById('urlId1').value}`)" class="btn btn-primary mr-2">View Reviews</button>
              <button type="button" onclick="window.open(`/api/reviews/?url=${document.getElementById('urlId1').value}`)" class="btn btn-secondary">API Endpoint</button>
            </form>
        </li>
      </ul>
  </div>
  <footer id="sticky-footer" class="py-4 mt-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>View Code on <a href="https://github.com/VinitK/web-scraper-puppeteer-express-rest-api">Github</a></small>
    </div>
  </footer>
</body>
</html>